# editors
/.idea
/.project
/.settings
# Vim swap files
.*.sw*
**/*.checksum
/composer.lock
/composer.phar
/tests/scripts/output/*.checksum
/tests/scripts/output/*.sql
/tests/scripts/output/*.sql.gz
/vendor/
/.phpunit.result.cache
/.phpunit.cache/
